
<div class="modal-content" id="login-modal">
      		<div class="modal-header login_modal_header">
        		<button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h2 class="modal-title" id="myModalLabel">Share this product via email</h2>
      		</div>
      		<div class="modal-body login-modal">
      			   <form method="post" ng-submit="shareViaEmail(share)" name="shareViaEmailFrm">
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
                         <div class="form-group">
									<input type="text" id="email" name="email" ng-model="share.from" placeholder="Enter Email" value="" required autofocus class="form-control login-field"></div>
		              
                         <textarea  id="description" name='description' placeholder="Ex:burgergirl96@hotmail.com,poohpool@signet.com" value="" class="form-control login-field" ng-model="share.email"  required autofocus></textarea>
                                
		            
		            	 <button type="submit" ng-disabled="shareViaEmailFrm.$invalid" class="btn btn-success modal-login-btn">Send</button>
	        		</div>
	        	</div>
				 </form>
      		</div>
      		<div class="modal-footer login_modal_footer"></div>
    	</div>
 
 

